:root {
    --font-roboto: "Roboto", serif;
    --font-libre: "Libre Baskerville", serif;
}

* {
    box-sizing: border-box;
}

.container {
    max-width: 1250px;
    margin: 0 auto;
}

html, body {
    height: 100%;
    overflow-x: hidden;
}

ul, ol, li {
    margin: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    min-width: 100%;
}